<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>行雲</string>
	<key>CFBundleExecutable</key>
	<string>UnifyIME</string>
	<key>CFBundleIconFile</key>
	<string>Bopomofo</string>
	<key>CFBundleIdentifier</key>
	<string>com.vader.inputmethod.XingYunIME</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>行雲</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.27.0919</string>
	<key>CFBundleSignature</key>
	<string>FCIN</string>
	<key>CFBundleVersion</key>
	<string>202609190845</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.vader.inputmethod.XingYunIME.Bopomofo</key>
			<dict>
				<key>TISDoubleSpaceSubstitution</key>
				<string>。</string>
				<key>TISIconLabels</key>
				<dict>
					<key>Primary</key>
					<string>行雲_繁-A</string>
				</dict>
				<key>TISInputSourceID</key>
				<string>com.vader.inputmethod.XingYunIME.Bopomofo</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>Bopomofo.tiff</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
					<string>Hani</string>
					<string>Hanb</string>
					<string>Han</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>Bopomofo.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>Bopomofo.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.vader.inputmethod.XingYunIME.Bopomofo</string>
		</array>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>com.vader.inputmethod.XingYunIME_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>SessionCtl</string>
	<key>InputMethodServerDelegateClass</key>
	<string>SessionCtl</string>
	<key>InputMethodServerPreferencesWindowControllerClass</key>
	<string>Preferences</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticTermination</key>
	<false/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>NSRequiresAquaSystemAppearance</key>
	<string>No</string>
	<key>TICapsLockLanguageSwitchCapable</key>
	<true/>
	<key>TISInputSourceID</key>
	<string>com.vader.inputmethod.XingYunIME</string>
	<key>TISIntendedLanguage</key>
	<string>zh-Hant</string>
	<key>TISIconLabels</key>
	<dict>
		<key>Primary</key>
		<string>行雲</string>
	</dict>
	<key>TISParticipatesInTouchBar</key>
	<false/>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hant</string>
		<string>Hans</string>
		<string>Hani</string>
		<string>Hanb</string>
		<string>Han</string>
	</array>
	<key>TISIconIsTemplate</key>
	<true/>
	<key>tsInputMethodIconFileKey</key>
	<string>Bopomofo.tiff</string>
</dict>
</plist>
